@font-face{
    font-family: Livvic;
    src: url('../fonts/Livvic/Livvic-Black.ttf');
}

@font-face{
    font-family: Permanent_Marker;
    src: url('../fonts/Permanent_Marker/PermanentMarker-Regular.ttf');
}

@font-face{
    font-family: Sawarabi_Mincho;
    src: url('../fonts/Sawarabi_Mincho/SawarabiMincho-Regular.ttf');
}